version: "3"

services:

  users-service:
    image: "postgres:13.4-alpine"
    container_name: "users-service"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    ports:
      - "15432:5432"

  auction-service:
    image: "postgres:13.4-alpine"
    container_name: "auction-service"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "messages"
    ports:
      - "15433:5432"